
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Roboto&family=Roboto+Mono&display=swap');

header{
    /*Nada*/
}
header h1{
    margin: 0;
    text-align: center;
}
footer{
    /*Nada*/
}
footer h3{
    margin: 0;
    text-align: center;
}
*{
    font-family: 'Kalnia', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    margin: 0;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: snow;
}
h1{
    background-color: #4DBAFF;
}
h3{
    background-color: #4DBAFF;
}
/*--------------------------------------------------------------*/
.divflex{
    display: flex;
}
.divflex *{
    width: 50%;
}
.divflex img{
    width: 1cm;
    height: 1cm;
}
.p_dentro_divflex{
    width: 50%;
    font-size: 12px;
    word-wrap: break-word;
}
#foto_perfil{
    width: 50%;
    height: 70%;
    border-radius: 3cm;
    border: 5px solid black;
}
.div_centrado{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton_regreso{
    background-color: #4DBAFF;
    font-size: large;
    border-radius: 1cm;
    border:1px solid black;
}
#boton_regreso a {
    color: black;
    text-decoration: none;
}
#boton_regreso:hover{
    background-color: #172833;
}
#boton_regreso a:hover{
    color: white;
}
#div_boton{
    background-color:#4DBAFF;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}
.separacion{
    display: flex;
}
.separacion h3{
    text-align: center;
}
#p_izquierda{
    background-color: #699EBF;
    height: 100%;
    width: 50%;
    
}
#p_izquierda h3{
    background-color: #699EBF;
    
}
#p_derecha{
    background-color: #4DBAFF;
    width: 50%;
    
}
#p_derecha h3{
    background-color: #4DBAFF;
    margin-top: 0;
}
ul{
    font-size: 12px;
}
._12pxj{
    font-size: 12px; text-align: justify;
}