
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Roboto+Mono&display=swap');
header{
    
    margin: 0;
    padding: 0;
}
footer{
    margin: 0px;
    padding: 0px;
    
}
*{
    font-family: 'Kalnia', serif;
    
}
body{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: snow;
}
h1{
    background-color: #4DBAFF;
}
h3{
    background-color: #4DBAFF;
}
.padre{
    background-color: #699EBF;
    display: flex;

}
.espacio{
    height: 1cm;
}
#foto_perfil{
    width: 100%;
    height: 100%;
}
.primera_seccion{
    width: 50%;
    border: 5px solid black;
    display: flex;
}
.datos_personales{
    background-color: #4DBAFF;
    width: 75%;
    font-size: 22px;
}

